
<div  class="list-container">
    <table matSort class="table "
       matSortDisableClear>
      <thead>
        <tr class="table-header header-bold">
          <th mat-sort-header="name" width="20%" ><span >Name</span></th>
          <th mat-sort-header="locationcode" width="20%"><span > Category </span></th>
          <th mat-sort-header="locationcode" width="20%"><span > Price </span></th>
          <th mat-sort-header="address" width="10%"><span >Add</span></th>
          <th mat-sort-header="city" width="10%"><span >Edit</span></th>
          <th mat-sort-header="city" width="10%"><span >Delete</span></th>
         
        </tr>
      </thead>
      <tbody>
        <tr class="pointer"  
          *ngFor="let item of productLits ">
          <td width="20%" class="location-name" >
            <span>
              {{item.Name}} 
            </span>
          </td>
          <td class="location-name" width="20%">{{item.Category}}</td>
          <td class="location-name" width="20%">{{item.Price}}</td>
          <td width="10%"><span><mat-icon class="mt-2 matblue" (click) = "addProduct()">add_circle_outline</mat-icon></span></td>
          <td width="10%">
            <span><mat-icon class="mt-2 matblue" (click) = "editProduct(item)">edit</mat-icon></span>
          </td>
          <td width="10%">
            <span><mat-icon class="mt-2 matblue" (click) = "deleteProduct(item)">delete</mat-icon></span>
          </td>
        </tr>
      </tbody>
  
    </table>
  
   
  
  
  
    
  </div>
  <div class="row mt-5" *ngIf="productLits && productLits.length==0">
    <div class="col text-center f-18 interstate-normal">
      <mat-label>There is no Products found for this account</mat-label>
    </div>
  </div>

