<div class="pnp-modal-header d-flex">
    <div class="d-flex flex-column flex-fill">
      <h2 class="modal-sub-title m-0 p-0 mt-1">Add Category</h2>
    </div>
    <button (click)="close()" type="button" class="modal-close-icon">
      <mat-icon class="matblue">clear</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="m-0 p-0 min-height">
    <div class="m-0 pl-4 pr-4 pb-4 pt-3">
      <form [formGroup]="categoryForm">
        <div class="row">
  
           <div class="col-lg-8 mt-3" >
            <mat-form-field class="w-100" appearance="fill">
              <mat-label class="interstate-normal f-16" >
                Category Name</mat-label>
               
              <input matInput maxlength="80" formControlName="name" 
                class="interstate-normal f-16">
              <mat-hint>Required</mat-hint>
              <mat-error *ngIf="name.hasError('required')">
                This is a required Field
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </mat-dialog-content>
  <div fxLayout="row" class="pnp-modal-footer p-3">
    
    <div fxLayout="row" >
    </div>
    <div fxLayout="row" >
      <button type="button"  class=" btn btn-secondary mr-3 btn-lg" (click)="close()">
        Cancel
      </button>
      <button type="button"  class="btn btn-primary cust-margin btn-lg"
        (click)="addCategory()">
        Add
      </button>
    </div>
  </div>